.task-list {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
}

.task-item {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #c5b5b5;
}

.task-item.high {
    background-color: #9b2020;
}

.task-item.medium {
    background-color: #0f919b;
}

.task-item.low {
    background-color: #6fff6f;
}

.task-name {
    font-weight: bold;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.task-priority {
    font-weight: 700;   
    color: #000000;
}
.task-list li{
    transition: 0.5s;
}
.task-list li:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0px 10px 15px purple;
}